body{
	background-image: url('dark_wood.png');
}

p{
	font-weight: bold;
	color: white;
	font-family: "Arial";
}

h3{

}

li{

}

a{
	color: white;
	font-weight: bold;
	font-size: 24px;
	list-style-type: none;
}

#Header{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	background-color: purple;
}

#Header h1{
	text-align: center;
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
}

#LeftNav{
	width: 400px;
	border: solid 8px black;
	margin: 0px auto 10px auto;
	float: left;
	padding-bottom: 8px;
	color: #FFBC00;
	background-color: purple;
}

#LeftNav image{

}

#LeftNav ul{
	list-style-type: none;
	padding-left: 10px;
}

#LeftNav h3{

}

#Content{
	width: 700px;
	border: solid 8px black;
	margin: 0px auto 10px auto;
	padding: 15px;
	color: #FFBC00;
	background-color: purple;
	text-align: center;
}

#Footer{
	color: #FFBC00;
	border: solid 8px black;
	background-color: purple;
	text-align: center;
}

